@media(max-width:1366px){
    .nav-section .nav-container .nav-logo img {
        height: 40px;
    }
    .nav-section .nav-container .nav-location h3 {
        font-size: 14px;
        font-weight: 500;
    }
    .nav-section .nav-container .nav-search {
        width: 580px;
    }
    .nav-section .nav-container .nav-search input {
        width: 620px;
    }
    .nav-section .nav-container .nav-search button {
        width: 50px;
        height: 40px;
        text-align: center;
    }
    .nav-2-section  ul {
        list-style: none;
        display: flex;
        gap: 5px;
    }
    .nav-2-section ul li {
        font-size:10px;
        display: inline-block;
    }
    .container-1 .shopping-box .box{
        width: 100%;
        height: 100%;
        background-color: white;
        margin-bottom: 50px;
    }
    .container-1 .shopping-box .box a {
        font-size: 14px;
        display: block;;
        text-align: center;
        margin-bottom: 20px;
    }
    .container-1 .shopping-box .box .img img {
        width: 80%;
    }
    .container-1 .shopping-box .sign-in {
        display: none;
    }
}

@media(max-width:1199px){
    .nav-section .nav-container .nav-logo img {
        height: 30px;
    }
    .nav-section .nav-container .nav-location h3 {
        font-size: 10px;
        font-weight: 500;
    }
    .nav-section .nav-container .nav-search {
        width: 380px;
    }
    .nav-section .nav-container .nav-search input {
        width: 420px;
    }
    .nav-section .nav-container .nav-search button {
        width: 50px;
        height: 40px;
        text-align: center;
    }
    .nav-2-section  ul {
        list-style: none;
        display: flex;
        gap: 3px;
    }
    .nav-2-section ul li {
        font-size:8px;
        display: inline-block;
    }
    /* .container-1 .shopping-box {
        width: 100%;
        height: 100%;
        display: flex;
        box-sizing: border-box;
        margin: 20px 0;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    } */
    .container-1 .shopping-box .box {
        width: 50%;
        height: 100%;
        background-color: white;
    }
    .container-1 .shopping-box .box a {
        font-size: 14px;
        display: block;;
        text-align: center;
        margin-bottom: 20px;
    }
    .container-1 .shopping-box .box {
        font-size: 14px;
        display: block;;
        text-align: center;
        margin-bottom: 20px;
    }
    .container-1 .shopping-box .box .img img {
        width: 100%;
    }
    .container-1 .shopping-box .sign-in {
        display: none;
    }
    .section-2 .sidle-section-2 {
        height: 30%;
        padding: 10px 10px 10px 10px;
        background: white;
        position: relative;
        margin-bottom: 70px;
    }
}